@import url(header.css);
@import url(footer.css);

body {
    font-family: sans-serif;
    margin: 0;
    background: #110C19;
    color: #FEEBD7;
}

.center-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.discord_icon{
    style="color: inherit; 
    text-decoration: none; 
    font-size: 50px;
    color: #FEEBD7;
}

.discord_icon:hover {
    transition: .3s;
    color: #72B148;
}


.main_video {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 60px auto 60px auto;
}

.main_title {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(70, 105, 112, 0.5);
    padding: 10px;
    border-radius: 10px;
    font-size: 50px;
    font-family: 'Minercraftory';$
    font-weight: 100;
    font-style: italic;
    letter-spacing: 6px;
}

video {
    width: 70%;
    height: 50%;
}
